@charset "utf-8";

#result {
  text-align: right;
  display: block;
  width: 240px;
  padding: 5px 0;
  margin: 0 auto;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: solid #000;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

button {
  width: 60px;
  margin-left: 1px;
  padding: 7px 0;
}

.bottom-btn button {
  width: 121px;
}